/* Общий стиль скроллбара */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: black;
}

/* Ползунок (thumb) скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #3c4048;
    border-radius: 4px;
}

/* При наведении на ползунок */
::-webkit-scrollbar-thumb:hover {
    background-color: #525960;
}

/* Трек (фон) скроллбара */
::-webkit-scrollbar-track {
    background-color: transparent;
}
